{
    "baseUrl": "https://api.businesscentral.dynamics.com/v2.0/[tenantId]/[instanceName]/ODataV4/[serviceName]",
    "company": "[companyId]",
    "oAuth": {
        "token_url": "https://login.microsoftonline.com/[tenantId]/oauth2/v2.0/token",
        "client_ID": "[clientId]",
        "client_secret": "[clientSecret]"
    }
}